@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Gloock&family=Jockey+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Poppins:wght@300;400;500&family=Quicksand:wght@300;400;500;600&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* margin: 1em; */
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
    box-shadow: 0px 6px 11px #afa2a280;
    padding: 15px;
    padding-left: 60px;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    top: -2px;
    z-index: 1000;
}

nav i {
    font-weight: 900;
    color: coral;
    /* font-size: 30px; */
}

nav .titleBox {
    /* padding: 10px; */
    margin: 5px;
}

.titleBox p {
    font-family: 'Secular One', sans-serif;
    font-size: 27px;
    font-style: italic;
    font-weight: 700;
    color: coral;
}

.titleBox .subtitle {
    font-size: 18px;
    font-family: serif;
    margin-left: 33px;
    color: black;
    font-weight: 500;
}

main {
    padding: 5px 10px;
    /* border: 2px solid red; */
    height: 100%;

}

section {
    /* border: 2px solid red; */
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
    position: relative;
    top: 120px;
}

section article {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article h1 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
    color: rgb(250, 95, 39);
    font-size: 2em;
}

.recipe .processBox {
    /* padding: 0 10px; */
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.processBox .ingredientsBox ul,
.instructionsBox ul {
    padding: 2px 15px;
    list-style-type: none;
}

li::before {
    content: "\2022";
    color: coral;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    /* width: 16px; */
    scale: 1.5;

}

.ingredientsBox ul li,
.instructionsBox ul li {
    padding: 5px;
    font-size: 16px;
}

.recipe .servesBox {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: column;

}

input[type="range"] {
    -webkit-appearance: none;
    height: 30px;
    width: 250px;
    border: 10px solid #fff;
    background: rgb(230, 226, 226);
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: coral;
}

.controller input[type="range"]:focus {
    outline: none;
}

button {
    min-width: 45vw;
    margin: auto;
    border: none;
    height: 50px;
    border-radius: 20px;
    background: coral;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Dancing Script';
    font-weight: 700;
    cursor: pointer;

}


@media screen and (min-width:920px) {
    article img {
        max-width: 35%;
        margin: 0 auto;
    }



    article h1 {
        font-size: 3em;
    }


    .processBox .ingredientsBox ul li,
    .processBox .instructionsBox ul li,
    .recipe .servesBox {
        font-size: 1.25em;
    }

    button {
        min-width: 25vw;
    }
}
